html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@600&family=Montserrat&display=swap');

/* setting standard styling */
html {
  font-size: 125%;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #350482;
}

h1,
h2,
h3,
h4,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
      font-family: 'Maitree', serif;
}

li, a {
  text-decoration: none;
  list-style: none;
  color: #350482;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}


/* working in the header */
header {
  background-image: url(../assets/veggie.png);
  height: 500px;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* nav styling */
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  gap: 2.65em;
  /* width: 40%; */
}

/* mobile button */
.hamburger-btn-container {
  display: none;
}

.navLink {
  /* display: inline-block; */
  position: relative;
}


.chart-notification-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0.2em;
  position: absolute;
  top: -20px;
  left: -24px;
  background-color: #350482;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-notification {
  color: white;
  font-size: 0.8rem;
}

.navLink::after {
  content: '';
  position: absolute;
  width: 0%;
  /* transform: scaleX(0); */
  height: 2px;
  bottom: 0;
  left: 5%;
  transform-origin: bottom left;
  transition: all 0.25s ease-out;
  background-color: #b20061;
  
}

.navLink:hover::after {
  /* transform: scaleX(14); */
  transform-origin: bottom left;
  width: 90%;
}

/* h1 styling */
h1 {
  text-align: center;
  padding: 50px;
}

/* search bar styling  */
form {
  text-align: center;
  padding-top: 40px;
}
  
  input[type=text] {
    border: none;
    padding: 30px;
    border-radius: 10px;
    font-size: 1.2rem;
    text-align: center;
    background-color: white;
    color: #350482;
}

/* main area */

.mainBackground {
  color: white
}

/* food list item styling */
.searchList {
  overflow-y: scroll;
  height: 655px;
  width: 70%;
  padding: 30px 30px 0 30px;
  background-color: #350482;
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
}

.searchList div {
  margin-top: 15px;
  border-radius: 10px;
  
}

.searchList h2 {
  padding-top: 20px;
}

.searchFlexContainer {
  display: flex;
  justify-content: space-between;
}

.searchFlexContainer h3 {
  margin-right: 40px;
  padding-top: 15px;
}


.searchFlexContainer img {
  border-radius: 10px;
}

.searchFlexContainer button {
  border-radius: 10px;
  border: none;
  height: 50px;
  background-color: #ffe1f9;
}

.listImg {
  width: 60px;
  height: 60px;
}

.commonFoodList {
  margin-right: 20px;
}

/* nutrients detail styling */

.foodResultsContainer {
  display: flex;
  padding-top: 40px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
  
}

.nutrientsContainer {
  /* width: 50%; */
  background-color: #350482;
  border-radius: 10px;
  height: 655px;
  padding: 30px 0;
  overflow-y: scroll;
}

.nutrientsContainer li {
  color: white;
  padding-top: 20px;
}

.nutrientsContainer h2 {
  text-transform: capitalize;
  color: white;
}

.nutrientsContainer button {
  border-radius: 10px;
  border: none;
  margin: 20px 10px 0 10px;
  padding: 10px 15px;
  background-color: #ffe1f9;

}

.nutrientsContainer img {
  border-radius: 10px;
  width: 125px;
  height: 125px;
}

/* styling for saved items page */

.savedList {
  width: 100%;
}

.savedFood {
  width: 100%;
}

.savedFood .nutrientsContainer {
overflow-y: hidden;
margin-bottom: 30px;
}
.savedFood .nutrientsContainer ul{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.savedFood .nutrientsContainer li{
 width: 550px;
text-align: center;
}

.savedFood .nutrientsContainer button {
  margin-left: 50%;
}

/* comparisons styling */

.comparisons button {
  border-radius: 10px;
  border: none;
  margin: 20px 10px 0 10px;
  padding: 10px 15px;
  background-color: #ffe1f9;
}

/* footer styling */
footer {
  text-align: center;
  padding: 20px 0;
}

/* Welcome to Media Query Land! */
/* Tread carefully yu gi boy */

@media (max-width: 640px) {
  /* mobile menu styling begins */
  .nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.65em;
  /* width: 40%; */

  /* positioning on mobile*/
  overflow-y: scroll;
  position: fixed;
  background-color: #ffe1f9;
  bottom: 0;
  top: 0;
  right: 0;
  max-width: 356px;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 5;

  transition: height 0.2s ease-in;

  /* positioning flex children */
  align-items: center;
}

.nav-ul.showMenu {
  height: 100%;
  width: 100%;
}

.nav-ul li:first-child {
  margin-top: 7rem;
}

.navBar {
  position: relative;
}

.hamburger-btn-container {
  display: block;
  position: fixed;
  right: 1em;
  top: 1.2em;
  z-index: 10;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.nav-ul * {
  color: #b20061;
}

.chart-notification {
  color: #ffe1f9;
}

  
}