html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@600&family=Montserrat:wght@400;700&display=swap');

/* setting standard styling */
html {
  font-size: 125%;
}

body{
  font-family: 'Montserrat', sans-serif;
  color: #350482;
}

h1,
h2,
h3,
h4,
p,
a,
ul {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
      font-family: 'Maitree', serif;
}

li, a {
  text-decoration: none;
  list-style: none;
  color: #350482;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}


/* working in the header */
header {
  background-image: url(../assets/veggie.png);
  height: 500px;
  background-position: bottom;
  background-repeat: no-repeat;
}

/* nav styling */
nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.nav-ul {
  display: flex;
  justify-content: space-between;
  gap: 2.65em;
  /* width: 40%; */
}

.logoContainer {
  display: flex;
}

/* mobile button */
.hamburger-btn-container {
  display: none;
}

.navLink {
  /* display: inline-block; */
  position: relative;
}


.chart-notification-container {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0.2em;
  position: absolute;
  top: -20px;
  left: -24px;
  background-color: #350482;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart-notification {
  color: white;
  font-size: 0.8rem;
}

.navLink::after {
  content: '';
  position: absolute;
  width: 0%;
  /* transform: scaleX(0); */
  height: 2px;
  bottom: 0;
  left: 5%;
  transform-origin: bottom left;
  transition: all 0.25s ease-out;
  background-color: #b20061;
  
}

.navLink:hover::after {
  /* transform: scaleX(14); */
  transform-origin: bottom left;
  width: 90%;
}

/* h1 styling */
h1 {
  text-align: center;
  padding: 50px;
}

/* search bar styling  */
form {
  text-align: center;
  padding-top: 40px;
}
  
input[type=text] {
  border: none;
  padding: 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  background-color: white;
  color: #350482;
}

.formContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/* modal styling */
.modalButton {
  /* border-radius: 50%; */
  text-align: center;
  background-color: white;
  color: #350482;
  font-size: 2.5rem;
  border: none;
  padding-top: 5px;
  margin-left: 40px;
  transition: all 0.2s ease-in;

}

.modalButton:hover,
.modalButton:focus {
  color: #b20061;
  transform: translateY(-0.06em);
}





.modalContainer {
  color: black;
  position: fixed;
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 10;
}

.modalContentContainer {
  background-color: #350482;
  color: white;
  width: 50%;
  position: relative;
  margin: 0 auto;
  border-radius: 10px;
  text-align: center;
  padding: 50px;
  
}

.modalContentContainer p {
  padding: 10px;
  line-height: 1.4em;
}

.modalContentContainer h3 {
  padding-top: 20px;
}

.modalContentContainer .logoContainer {
  position: absolute;
  left: 15px;
  top: 15px;
}

.closeIcon {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #350482;
  color: white;
  border: none;
  font-size: 1.5rem;
  transition: all 0.4s ease-in;
}

.closeIcon:hover,
.closeIcon:focus {
  box-shadow: inset 0 0 0 2em #350482;
  color: #b20061;
}


/* main area */

main {
  min-height: 34vh;
}

.mainBackground {
  color: white
}

/* food list item styling */
.searchList {
  padding: 30px 30px 0 30px;
  background-color: #350482;
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
  /* align-items: stretch; */
  flex-direction: column;
}

.searchList:empty {
  display: none;
}

button {
  transition: all 0.2s ease-in;
  color: #350482;
}

.searchList button:hover,
.searchList button:focus,
.pagination button:hover, 
.pagination button:focus,
.nutrientsContainer button:hover, 
.nutrientsContainer button:focus,
.chartBtn button:hover, 
.chartBtn button:focus {
  box-shadow: 0 0 0.3em 0.1em #b20061;
  transform: translateY(-0.1em);
  color: #b20061;
}

.searchList button:hover:disabled,
.searchList button:focus:disabled,
.pagination button:hover:disabled, 
.pagination button:focus:disabled {
  box-shadow: none;
  transform: none;
  color: #350482;
}
.searchList div {
  margin-top: 15px;
  border-radius: 10px;
  
}

.searchList h2 {
  padding-top: 20px;
}

.searchFlexContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.searchFlexContainer h3 {
  margin-right: 40px;
  padding-top: 15px;
}


.searchFlexContainer img {
  border-radius: 10px;
}

.searchFlexContainer p {
  margin: 0 5px;
  font-size: clamp(0.5rem, 0.7rem + 1vw, 1rem);
}

.searchFlexContainer button {
  border-radius: 10px;
  border: none;
  height: 50px;
  background-color: #ffe1f9;
}

.loader {
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.listImg {
  width: 60px;
  height: 60px;
}

/* .commonFoodList {
  margin-right: 20px;
} */


.foodTypeButtonContainer {
  display:flex;
  justify-content: center;
}
.foodTypeButtonContainer button {
  border-radius: 10px;
  border: none;
  min-height: 50px;
  background-color: #ffe1f9;
  margin: 0 10px;
  padding: 5px 20px;
  font-size: clamp(0.6rem, 0.8rem + 1vw, 1rem);
}

.foodTypeButtonContainer button:disabled,
.pagination button:disabled {
  background-color:rgba(255, 225, 249,0.5);
}

.pagination {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.pagination button {
  border-radius: 10px;
  border: none;
  background-color: #ffe1f9;
  padding: 10px 5%;
  margin: 0 1% 20px 1%;
  font-size: 1rem;  
}

.pagination .prev, .pagination .next {
  padding-top: 15px;
}

/* nutrients detail styling */

.foodResultsContainer {
  display: flex;
  padding-top: 40px;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 100px;
  align-items: flex-start;
  justify-content: center;
  
}

.nutrientsContainer {
  background-color: #350482;
  border-radius: 10px;
  padding: 1.5em;
  min-width: 50%;
}

.top-level-div {
  min-width: 50%;
}

.nutrientsContainer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8em;
}

.nutrientsContainer li {
  color: white;
  font-size: 0.9rem;
}

.nutrientsContainer h2 {
  text-transform: uppercase;
  color: white;
}

.bolded-values {
  font-weight: 800;
  letter-spacing: 2px;
  text-shadow: 2px 2px 0px #000202, 4px 4px 0px rgba(0,0,0,0.25);
}

.nutrients-body {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.nutrientsContainer button {
  border-radius: 10px;
  border: none;
  margin: 9px auto;
  padding: 10px 15px;
  background-color: #ffe1f9;

}
.nutrients-image-container {
  width: 120px;
}
.nutrient-image-container img {
  width: 150px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.nutrients-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 0.78em;
}

.nutrient-header-text {
   max-width: 50%;
}

.nutrient-header-text h2 {
  font-size: 1.3rem;
  margin-bottom: 0.5em;
}

.nutrients-buttons-container {
  padding: 1em 0 1em 0;
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  align-items: center;
}



/* styling for saved items page */

.savedList .dataContainer {
  display: flex;
  justify-content: center;
  gap: 1em;
}

.savedList .nutrientsContainer p {
  text-align: center;
}

.savedList .dataContainer .nutrientsContainer {
margin-bottom: 30px;
display: flex;
flex-direction: column;
align-items: center;

}

.savedList .dataContainer .nutrientsContainer button {
  margin: 0 auto;
}

.savedList .pagination {
  padding-top: 40px;
}

/* comparisons styling */

.comparisons button {
  border-radius: 10px;
  border: none;
  margin: 20px 10px 0 10px;
  padding: 10px 15px;
  background-color: #ffe1f9;
}

/* footer styling */
footer {
  text-align: center;
  padding: 20px 0;
  margin-top: 5vh;
}

/* Welcome to Media Query Land! */
/* Tread carefully yu gi boy */

@media (max-width: 1000px) {
  /* modal  */
  .modalContentContainer {
    width: 100%;
  }
}

@media (max-width: 640px) {
  /* mobile menu styling begins */
  .nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.65em;
  /* width: 40%; */

  /* positioning on mobile*/
  overflow-y: scroll;
  position: fixed;
  background-color: #ffe1f9;
  bottom: 0;
  top: 0;
  right: 0;
  max-width: 356px;
  width: 100%;
  height: 0;
  overflow: hidden;
  z-index: 5;

  transition: height 0.2s ease-in;

  /* positioning flex children */
  align-items: center;
  
}

/* Search list styling */
.searchFlexContainer p {
  font-size: 0.8rem;
}

  .nav-ul.showMenu {
    height: 100%;
    width: 100%;
  }

  .nav-ul li:first-child {
    margin-top: 7rem;
  }

  .navBar {
    position: relative;
  }

  .hamburger-btn-container {
    display: block;
    position: fixed;
    right: 1em;
    top: 1.2em;
    z-index: 10;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .nav-ul * {
    color: #b20061;
  }

  .chart-notification {
    color: #ffe1f9;
  }

  .formContainer {
    flex-direction: column-reverse;
    align-items: center;
  }

  .modalButton {
    margin: 0;
  }

  form {
    padding-top: 10px;
  }

  .chartBtn button {
    padding: 0.5em;
    margin: 20px 0 0 10px;
    font-size: 0.7rem;
  }

  .modalContentContainer p {
    font-size: 0.7rem;
  }


/* Search list mobile stylings */

  .searchList,
  .nutrientsContainer{
    width: 100%;
    margin-bottom: 10px;
  }


/* nutrients detail styling */

.nutrientsContainer {
  width: 100%;
  border-radius: 10px;
  padding: 0;
}

.nutrient-image-container img {
  width: auto;
  height: 100%;
}

.nutrient-image-container {
  height: 200px;
}
}

@media (max-width: 820px) {
  .nutrientsContainer {
    width: 100%;
  }
 }

 @media (max-width: 1200px) {
  /* Search list mobile stylings */
  .foodResultsContainer {
    flex-direction: column;
    align-items: center;
  }
  
  .foodResultsContainer .searchList,
  .foodResultsContainer .nutrientsContainer{
    width: 100%;
    margin-bottom: 10px;
    max-width: 700px;
    margin-right: 0;
  }
}

@media (max-width: 450px) {
  .top-level-div {
    width: 100%;
  }
}

@media (max-width: 630px) {
  .nutrients-body {
    flex-direction: column;

  }

  .nutrientsContainer ul {
    align-items: center;
  }

  .nutrients-header {
    justify-content: center;
  }
 }

@media (max-width: 1315px) {
  /* Saved items page */
  .dataContainer {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
  }

  .dataContainer * {
    max-width: 700px;
  }

  .nutrient-header-text h2 {
    font-size: clamp(0.5rem, 0.5rem + 2.5vw, 1.3rem)
  }

  .nutrient-header-text h2,
  .nutrient-header-text h3 {
    text-align: center;
  }


  .nutrient-image-container {
    display: flex;
    justify-content: center;
    max-width: 60%;
  }

  .nutrient-image-container img {
    width: 70%;
    object-fit: contain;
  }
}


  
